@media screen and (max-width: 1280px) {
    

    .notonly-container{
        display: flex;
        flex-direction: column; 

        align-items: center;
        gap: 100px; 
    }
    .header-container {
        justify-content: space-around;
    }

    .dog{
        max-width: 569px;
        max-height: 593px;
    }
    .dog-container{
        top: 422px;
        left: 70px;
    }

    .button-container{
        align-self: center;   
        }

    .about-container{
    display: flex;
    flex-direction:column-reverse;
   align-items: center;

    gap: 80px;
}    


.help-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px 60px;
   
}

.addition-container{
    display: flex;
    flex-direction: column-reverse;

    gap: 60px;
}
.addition-card{
    max-width: 380px;
    align-self: center;
}
.addition-image{
    display: flex;
    justify-content: center;
}

.footer-cards{
    display: flex;
    flex-direction: column;
    gap: 65px;
  }
  
  .footer-puppy{
    display: flex;
    justify-content: center;
  }
  
  
  .footer-card-one{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .footer-card-two{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer-card-flex{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }

.disk{
    display: none;
}

.about-container{
    padding: 0;
}

.ourfriends-cards{
    gap: 40px;
}

.ourfriends-card-arrow{
    gap: 12px;
}
.arrow-center{
    width: 52px;
    height: 52px;
}

  }

/**/
@media screen and (max-width: 768px){

    .nav-list{
        display: none;
    }
   
    .burger{
        display: flex;
    }
    .notonly-container{
        gap: 105px;
    }
    .notonly{
        padding: 42px 0 0 0;
    }

    .tittle{
        font-size: 25px;
        text-align: center;
        max-width: 300px;
        max-height: 64px;
        line-height: 32.5px;
    }
    .dog{
        max-width: 260px;
        max-height: 271px;
    }
    .tittle-text{
        max-width: 300px;
        max-height: 96px;
        text-align: center;
    }
    .about-container{
        padding: 0;
        gap: 42px;
    }
    .about-tittle{
        font-size: 25px;
        line-height: 32.5px;
        max-width: 300px;
        max-height: 64px;
        text-align: center;
    }
    .about{
        
        padding: 42px 0 42px 0;
    }
    .about-text{
        text-align:justify;
    }
    .about-dogs{
        max-width: 270px;
    }
    /**/
   
    .mobile-disk{
        display: none;
    }
    .ourfriends-tittle{
        font-size: 25px;
        line-height: 32.5px;
        max-width: 300px;
        max-height: 64px;
    }
    .ourfriends{
     
        padding: 42px 0 42px 0;
    }
    .mobile-arrows{
        display: flex;
        justify-content: center;
        gap: 80px;
    }
    .arrow-center{
        display: none;
    }
    .ayee{
        gap: 42px;
    }
    /**/
    
    .help-cards{
        grid-template-columns: 1fr 1fr;
        gap: 30px 30px;
       
    }
    .help{
       
        padding:  42px 0 42px 0;
    }
    .help-text{
        font-size: 15px;
    }
    .help-tittle-text{
        font-size: 25px;
        line-height: 32.5px;
        max-width: 220px;
    }
    .help-gap{
        gap: 42px;
    }
    /**/
    .addition{
       
        padding: 42px 0px 42px 0px;
    }
    .addition-tittle{
        font-size: 25px;
        line-height: 32.5px;
        min-height: 64px;
        text-align: center;
        letter-spacing: 0.06em;
    }
    .addition-card{
        min-width: 300px;
        text-align: center;
    }
    .addition-text-about{
        text-align: justify;
    }
    .addition-number{
        font-size: 15px;
        letter-spacing: 1px;
    }
    .addition-bank{
        min-width: 281px;
        align-self: center;
    }
    .addition-text-about{
        max-width: 280px;
        align-self: center;
    }
    .addition-container{
        gap: 42px;
    }
    .doggy{
        max-width: 265px;
        max-height: 135px;
    }
    .footer-card-flex{
        display: flex;
        flex-direction: column;
    }
    .footer-tittle{
        font-size: 25px;
        text-align: center;
        line-height: 32.5px;
    }
  
    .footer-card-flex{
        gap: 44px;
    }
    .footer{
      
    padding: 30px 0 0 0;
    }
  
    .header-container {
        justify-content:space-around;
    }
    
}


 
