* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: inherit;
	text-decoration: none;
}
:root {
	/*color*/
	--color-primary: #f1cdb3;
	--color-deffault: #ffffff;
	--color-dark-s: #cdcdcd;
	--color-black: #000000;
	--color-dark-3xl: #292929;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-m: #b2b2b2;
	--color-primary-light: #fddcc4;
	--color-light-s: #fafafa;
	--color-light-l: #f6f6f6;
}
.container {
	width: 1200px;
}
.apad {
	padding: 80px 0 100px 0;
}
.displayf {
	display: flex;
	justify-content: center;
}
header {
	position: sticky;
	top: 0;
	z-index: 100;
}
